<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear un rango</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/Admin.css" th:href="@{/css/Admin.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="${'/admin/ranges'}">Atrás</a>
        </div>
    </div>

</nav>


<div class="container">
    <h2>Registrar un rango de edad</h2>
<form th:action="@{/admin/ageRange}" th:object="${ageRange}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Edad</label><br/>
    <input type="number" min="1" th:field="*{age}" placeholder="Edad" /><br/>

    <label>Meta</label><br/>
    <label>Meta de inicio</label><br/>
    <input type="number" min="1" th:field="*{metaStart}" placeholder="Meta inicio" /><br/>

    <label>Meta final</label><br/>
    <input type="number" min="1" th:field="*{metaFinish}" placeholder="Meta final" /><br/>

    <label>Máximo</label><br/>
    <input type="number" min="1" th:field="*{maximum}" placeholder="Maximo" /><br/>
    <br/>
    <label th:text="${errorAgeRange}"></label><br/>
    <button type="submit" class="btn btn-default">Registrar</button>
</form>
</div>
</body>
</html>