<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Cambiar contraseña</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <link href="/css/Password.css" th:href="@{/css/Password.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="${'/admin/home'}">Inicio</a>
        </div>
    </div>
</nav>

<div class="container">
    <h1>Cambia tu contraseña</h1>
    <br></br>
    <form th:action="@{/admin/changepasswordyes}" method="GET">
        <div class="col-lg-4">
            <label for="password" class="col-lg-1 control-label">Contraseña</label>
            <input type="password" minlength="8" id="password" name="password"  th:placeholder="Password" class="form-control" required="required"/>
            <br></br>
            <label for="passwordconfirm" class="col-lg-1 control-label">Confirmar</label>
            <input type="password"   minlength="8" name="passwordconfirm" id="passwordconfirm" th:placeholder="PasswordConfirm" class="form-control" required="required"/>
            <br></br>
            <button type="submit" class="btn btn-default">Aceptar</button>
        </div>
    </form>
</div>
</body>
</html>