<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Terminales</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/Admin.css" th:href="@{/css/Admin.css}" rel="stylesheet" media="screen"/>
</head>
<body id="listas">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="${'/admin/home'}">Inicio</a>
        </div>
    </div>
</nav>

<h2>Lista de terminales</h2>
<table class="table table-striped">
    <tr>
        <th>Serial</th>
        <th>Activa</th>
        <th>Modelo de banda</th>
        <th>Usuario</th>
        <th>Editar terminal</th>
    </tr>
    <tr th:each="terminal : ${terminals}">
        <td th:text="${terminal.serial}">Id</td>
        <td th:text="${terminal.active==true?'SI':'NO'}">Name</td>
        <td th:text="${terminal.bandModel==null?'':terminal.bandModel.getName()}">Last Name</td>
        <td th:text="${terminal.user==null?'':terminal.user.getEmail()}">Email</td>
        <td><a th:href="${'/admin/terminal/edit/' + terminal.serial}">Editar</a></td>

    </tr>
</table>

</body>
</html>