<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Editar terminal</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/Admin.css" th:href="@{/css/Admin.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="${'/admin/terminals'}">Atrás</a>
        </div>
    </div>
</nav>

<div class="container">
    <h2>Terminal</h2>
    <div>
        <form class="form-horizontal" th:object="${terminal}" th:action="@{'/admin/terminal/'+${id}}" method="POST">
            <input type="hidden" th:field="*{user}"/>

            <label class="col-sm-2 control-label">Serial:</label><br/>
            <input type="number" min="1" th:field="*{serial}"/>
            <label th:text="${errorTerminal}"/><br/><br/>

            <label class="col-sm-2 control-label">Modelo de banda:</label><br/>
            <select th:field="*{bandModel}">
                <option th:each="bandModel : ${bands}"
                        th:value="${bandModel.getId()}"
                        th:text="${bandModel.getName()}"></option>
            </select><br/><br/>

            <label class="col-sm-2 control-label">Activo:</label><br/>
            <input type="checkbox" th:field="*{active}" th:value="*{active}" /><br/><br/>

            <button type="submit" class="btn btn-default">Aceptar</button>

        </form>
    </div>
</div>
</body>
</html>