<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Estado del usuario</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/Admin.css" th:href="@{/css/Admin.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="${'/admin/home'}">Inicio</a>
        </div>
    </div>
</nav>

<div class="container">
    <h2>Estado del usuario</h2>
    <div>
        <form class="form-horizontal" th:object="${user}" th:action="@{/admin/user}" method="POST">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{email}"/>
            <input type="hidden" th:field="*{password}"/>
            <input type="hidden" th:field="*{name}"/>
            <input type="hidden" th:field="*{lastName}"/>
            <input type="hidden" th:field="*{roles}"/>
            <input type="hidden" th:field="*{terminal}"/>
            <input type="hidden" th:field="*{band}"/>
            <input type="hidden" th:field="*{weigth}"/>
            <input type="hidden" th:field="*{heigth}"/>
            <input type="hidden" th:field="*{age}"/>
            <input type="hidden" th:field="*{birthday}"/>
            <label class="col-sm-2 control-label">Cuenta activa:</label><br/>
            <input type="checkbox" th:field="*{active}" th:value="*{active}" />
            <br/>
            <br/>
            <button type="submit" class="btn btn-default">Aceptar</button>

        </form>
    </div>
</div>
</body>
</html>