<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Historial de calorías</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <link href="/css/Admin.css" th:href="@{/css/Admin.css}" rel="stylesheet" media="screen"/>
</head>
<body id="listas">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="${'/user/home'}">Inicio</a>
        </div>
    </div>
</nav>
<div class="container">
    <div>
        <h3>Nombre: </h3>
        <p th:text="${user.name}">name</p>
        <h3>Historial:</h3>
        <table class="table table-striped">
            <tr>
                <th>Calorias quemadas</th>
                <th>Fecha de registro</th>

            </tr>
            <tr th:each="calorie : ${calories}">
                <td th:text="${calorie.calories}">calories burned</td>
                <td th:text="${calorie.date}">Date</td>

            </tr>
        </table>

    </div>
</div>
</body>
</html>