<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Edita tu perfil</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <link href="/css/editProfile.css" th:href="@{/css/editProfile.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" th:href="${'/user/home'}">Inicio</a>
        </div>
    </div>
</nav>
<div class="container">
    <h2>Edita tu información</h2>
    <div>
        <form class="form-horizontal" th:object="${user}" th:action="@{/user}" method="POST">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{active}" />
            <input type="hidden" th:field="*{email}" />
            <input type="hidden" th:field="*{password}" />
            <input type="hidden" th:field="*{roles}" />

            <label>Nombre:</label><br/>
            <input type="text" th:field="*{name}" placeholder="Nombre" /><br/>
            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" /><br/>

            <label>Apellido:</label><br/>
            <input type="text" th:field="*{lastName}" placeholder="Apellido"  /><br/>
            <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" /><br/>


            <label>Altura:</label><br/>
            <input type="number"  th:field="*{heigth}"/><br/>

            <label>Peso:</label><br/>
            <input type="number"  th:field="*{weigth}"/><br/>

            <input type="hidden"  th:field="*{age}"/>

            <br/><label>Modelo de banda:</label><br/>
            <select th:field="*{band}">
                <option th:each="bandModel : ${bands}"
                        th:value="${bandModel.getName()}"
                        th:text="${bandModel.getName()}"></option>
            </select><br/>

            <label>Serial:</label><br/>
            <input type="text" th:field="*{terminal}"/>
            <label th:text="${errorTerminal}"/><br/>

            <label>Fecha de nacimiento: </label><br/>
            <input type="date"  th:field="*{birthday}"/><br/>

            <br/>
            <div class="row">
                <button type="submit" class="btn btn-default">Hecho</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>