body{
            background: url(images/admin.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}
#listas{
    background:#BFC9CA;
}
h2,label{
    color:#566573;
}